.venv/
__pycache__/
instance/

# fichiers Python compilés
*.pyc
*.pyo

# dossiers de cache Python
*.egg-info/
dist/
build/

# fichiers de log
*.log

# fichiers de configuration d’éditeur
.vscode/
.idea/

# fichiers temporaires
*.swp
*.bak
*.tmp

# fichiers de base de données SQLite
*.db

# fichiers de test
tests/
