/* ---------- GLOBAL STYLE ---------- */

body {
    background: #a795760b url('https://plus.unsplash.com/premium_photo-1667761637876-e704c906927d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFryh8MHx8MHx8fDA%3D')
        repeat;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
    min-height: 100vh;
}

/* ---------- HEADER ---------- */

    header {
        background: #8b4513;
        height: 70px;
        box-shadow: 0 4px 15px rgba(129, 89, 89, 0);
        border-top: 10px double #3e2723;
        border-bottom: 10px double #3e2723;
        border-left: 10px double #3e2723;
        border-right: 10px double #3e2723;
    }

.logo img {
        height: 70px;
        filter: drop-shadow(2px 2px 4px #000);
    }

/* ---------- NAV ---------- */

nav {
    background: transparent;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 10px 20px;
}

nav a {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8b4513;
}

/* ---------- TITLES ---------- */

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    text-align: center;
    color: #10100f;
    margin: 3rem 0 2rem;
}

/* ---------- POLAROID STYLE FOR PLACES ---------- */

.place-card {
    background: #c6b2a3;
    border: 12px solid #d2691e;
    border-bottom: 50px solid #d2691e;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4), inset 0 -10px 15px rgba(0,0,0,0.1);
    transform: rotate(-1deg);
    margin: 40px auto;
    max-width: 380px;
    padding: 15px;
    position: relative;
    transition: all 0.3s;
}

.place-card:nth-child(even) { transform: rotate(1.5deg); }
.place-card:nth-child(3n) { transform: rotate(-2deg); }

.place-card:hover {
    transform: rotate(0deg) scale(1.05);
    z-index: 10;
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
}

.place-card img {
    width: 96%;
    height: 240px;
    object-fit: cover;
    border: 8px solid #d2691e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.place-card h3 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 1.8rem;
    margin: 15px 0;
    color: #5d2c12;
}

.place-card p {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #8b451393;
}

.details-button {
    background: #8b4513;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    letter-spacing: 2px;
    border: 4px solid #d2691e64;
    box-shadow: 4px 4px 0px #000;
    padding: 12px 20px;
    display: block;
    margin: 15px auto 0;
    width: fit-content;
}

.details-button:hover {
    background: #a0522d;
    transform: translateY(-3px);
}

/* ---------- FOOTER ---------- */

footer {
    background: #3e2723;
    color: #d2b48c;
    font-family: 'Cormorant Garamond', serif;
    padding: 2rem;
    border: 10px double #8b4513;
    margin-top: 50px;
}
